/* -------global------- */

* {
    margin: 0;
    padding: 0;
    height: 1000px;
    background-color: #fcfcfc;
}


/* -------header------- */

.main-header {
    padding: 0 50px;
    width: auto;
    height: 104px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -30px 32px 0 black;
}

.logo {
    width: 240px;
    height: 56px;
    padding-right: 150px;
    background-color: transparent;
    position: relative;
    top: 20%;
    left: 5%;
}

.logo-image {
    width: 240px;
    height: 56px;
}

.menu {
    width: 700px;
    background-color: transparent;
    position: relative;
    top: 32%;
    right: 5%;
    display: flex;
    justify-content: space-between;
}

.tab {
    height: 30px;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    color: black;
}

.tab:hover {
    color: #4B77F2;
}

.manage-schedule {
    color: #4B77F2;
}

.mypage-image {
    width: 40px;
    height: 40px;
}

/* --------body-------- */

.main-body {
    width: 1000px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1000px) {
    .main-body {
        width: auto;
    }
}

.navbar {
    height: 120px;
    background-color: pink;
}

.ing {
    background-color: transparent;
}

.end {
    background-color: transparent;
}

.time-control {
    height: 100%;
    background-color: bisque;
}


/* -------footer-------- */
.footer {
    width: auto;
    height: 150px;
    background-color: white;
}