/* -------global------- */

* {
    margin: 0;
    padding: 0;
    height: 1000px;
    background-color: #fcfcfc;
}


/* -------header------- */

.main-header {
    padding: 0 50px;
    width: auto;
    height: 104px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 240px;
    height: 56px;
    position: relative;
    top: 20%;
    left: 5%;
}

.logo-image {
    width: 240px;
    height: 56px;
}

.menu {
    background-color: transparent;
}


/* --------body-------- */

.main-body {
    width: 1000px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1000px) {
    .main-body {
        width: auto;
    }
}

.navbar {
    height: 120px;
    background-color: pink;
}

.ing {
    background-color: transparent;
}

.end {
    background-color: transparent;
}

.time-control {
    height: 100%;
    background-color: bisque;
}


/* -------footer-------- */
.footer {
    width: auto;
    height: 150px;
    background-color: white;
}